.AboutFork{
  height: 764px;
  background-color: #4b3b4e;
  background-image: url("./img/aboutForkBack.png");
  background-repeat: no-repeat;
  background-size: 100% 99%;
  background-position: top;
  &_container{
    max-width: 1200px;
    height: inherit;
    padding: 0 10px;
    margin: 0 auto;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto auto auto;
    align-items: center;
    justify-items: center;
  }
  &__title{
    color: #ffffff;
    font-family: Montserrat;
    line-height: 48px;
    font-size: 48px;
    font-weight: 700;
    grid-column-start: 1;
    grid-column-end: 4;
    padding-top: 45px;
  }
  &-item{
    color: #ffffff;
    font-family: Lato;
    font-size: 16px;
    font-weight: 700;
    font-style: italic;
    display: grid;
    align-items: center;
    justify-items: center;
    grid-gap: 30px;
    &__logo{
    }
    &__description{
      width: 310px;
    }
  }
  &-footer{
    opacity: 0.8;
    color: #a291a5;
    font-family: Lato;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    grid-column-start: 1;
    grid-column-end: 4;
    text-align: center;
    &__text{
      width: 849px;
    }
    &__Line{
      margin: 0 auto;
      margin-top: 16px;
      width: 780px;
      height: 2px;
      background-color: #a291a5;
      opacity: 0.8;
    }
  }
}
@media (max-width: 992px) and (min-width: 481px) {
  .AboutFork{
    height: 883px;
    background-size: auto;
    background-position: top;
    &_container{
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto auto auto auto auto;
    }
    &__title{
      line-height: 42px;
      font-size: 42px;
      grid-column-start: 1;
      grid-column-end: 3;
    }
    &-item{
      &__logo{
      }
      &__description{
        width: 35vw;
      }
    }
    &-footer{
      grid-column-start: 1;
      grid-column-end: 3;
      text-align: center;
      &__text{
        width: auto;
      }
      &__Line{
        width: 90vw;
      }
    }
  }
}
@media (max-width: 480px) and (min-width: 401px) {
  .AboutFork{
    height: 1495px;
    background-size: auto;
    background-position: top;
    &_container{
      grid-template-columns: 1fr;
      grid-template-rows: auto auto auto auto auto auto auto auto;
    }
    &__title{
      line-height: 60px;
      font-size: 42px;
      grid-column-start: 1;
      grid-column-end: 2;
      padding: 15px 0;
    }
    &-item{
      &__logo{
      }
      &__description{
        width: 310px;
      }
    }
    &-footer{
      grid-column-start: 1;
      grid-column-end: 2;
      text-align: center;
      &__text{
        display: none;
      }
      &__Line{
        width: 90vw;
      }
    }
  }
}
@media (max-width: 400px) and (min-width: 320px) {
  .AboutFork{
    height: 1470px;
    background-size: auto;
    background-position: top;
    &_container{
      grid-template-columns: 1fr;
      grid-template-rows: auto auto auto auto auto auto auto auto;
    }
    &__title{
      line-height: 48px;
      font-size: 36px;
      grid-column-start: 1;
      grid-column-end: 2;
      padding: 15px 0;
    }
    &-item{
      &__logo{
      }
      &__description{
        width: 80vw;
      }
    }
    &-footer{
      grid-column-start: 1;
      grid-column-end: 2;
      text-align: center;
      &__text{
        display: none;
      }
      &__Line{
        width: 90vw;
      }
    }
  }
}
@media (max-width: 319px) {
  .AboutFork{
    height: 1470px;
    background-size: auto;
    background-position: top;
    &_container{
      grid-template-columns: 1fr;
      grid-template-rows: auto auto auto auto auto auto auto auto;
    }
    &__title{
      line-height: 48px;
      font-size: 36px;
      grid-column-start: 1;
      grid-column-end: 2;
      padding: 15px 0;
    }
    &-item{
      &__logo{
      }
      &__description{
        width: 290px;
      }
    }
    &-footer{
      grid-column-start: 1;
      grid-column-end: 2;
      text-align: center;
      &__text{
        display: none;
      }
      &__Line{
        width: 270px;
      }
    }

  }
}


