.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
.advantages {
  background: #f4f4f4;
  font-family: Montserrat;
  height: 711px;
  &__section {
    padding-top: 84px;
    position: relative;
  }
  &__info {
    width: 590px;
    margin-top: 25px;
  }
  &__info-item {
    width: 500px;
    margin-bottom: 34px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  &__info-item-logo {
    &__bg-info {
      width: 111px;
      height: 64px;
      background: url('./img/css_sprites.png') -0 -0;
    }
    &__bg-tool {
      width: 90px;
      height: 80px;
      background: url('./img/css_sprites.png') -0 -135px;
    }
    &__bg-stuff {
      width: 60px; height: 84px;
      background: url('./img/css_sprites.png') -0 -215px;
    }
    &__bg-time {
      width: 71px; height: 71px;
      background: url('./img/css_sprites.png') -0 -64px;
    }
  }
  &__info-item-title {
    color:  #323232;
    font-size: 16px;
    line-height: 15.406px;
    text-align: left;
    margin-bottom: 20px;
  }
  &__info-item-description {
    width: 365px;
    color:  #848e97;
    font-size: 14px;
    line-height: 15.406px;
  }
  &__example {
    position: absolute;
    top: 150px;
    left: 600px;
  }
  &__title {
    color:  #8d81ac;
    font-size: 48px;
    font-weight: 700;
    padding-left: 20px;
    float: right;
  }
}

@media (max-width: 992px) and (min-width: 481px) {
  .container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
  .advantages {
    background: #f4f4f4;
    font-family: Montserrat;
    height: 711px;
    &__section {
      padding-top: 54px;
    }
    &__info {
      width: 590px;
      margin-top: 60px;
    }
    &__info-item {
      width: 500px;
      margin-bottom: 34px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
    &__info-item-logo {
      &__bg-info {
        width: 111px;
        height: 64px;
        background: url('./img/css_sprites.png') -0 -0;
      }
      &__bg-tool {
        width: 90px;
        height: 80px;
        background: url('./img/css_sprites.png') -0 -135px;
      }
      &__bg-stuff {
        width: 60px;
        height: 84px;
        background: url('./img/css_sprites.png') -0 -215px;
      }
      &__bg-time {
        width: 71px;
        height: 71px;
        background: url('./img/css_sprites.png') -0 -64px;
      }
    }
    &__info-item-title {
      color:  #323232;
      font-size: 16px;
      line-height: 15.406px;
      text-align: left;
      margin-bottom: 20px;
    }
    &__info-item-description {
      width: 365px;
      color:  #848e97;
      font-size: 14px;
      line-height: 15.406px;
    }
    &__example {
      margin-top: 50px;
    }
    &__title {
      color:  #8d81ac;
      font-size: 48px;
      font-weight: 700;
      padding-left: 20px;
    }
  }
}
