.container {
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
}
.carousel {
  padding-bottom: 80px;
  &__slider {
    margin: 87px auto 45px auto;
  }
  &__author {
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 47px;
    width: 300px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  &__author-foto {
    width: 85px;
    height: 85px;
    border-radius: 50%;
    margin-right: 22px;
  }
  &__author-info {
    text-align: left;
    padding-top: 22px;
  }
  &__author-name {
    font-family: Montserrat;
    color: #635c73;
    font-size: 24px;
    font-weight: 700;
    display: block;
  }
  &__author-spec {
    font-family: Montserrat;
    color: #8d81ac;
    font-size: 16px;
    display: block;
  }
  &__message {
    font-family: Lato;
    color: #333333;
    font-size: 20px;
    line-height: 32px;
    width: 734px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;


  }
  &__message-gray {
    font-family: Lato;
    color: #8d81ac;
    font-size: 20px;
    line-height: 32px;
  }
  &__time {
    font-family: Montserrat;
    color: #848e97;
    font-size: 16px;
    line-height: 32px;
    text-align: center;
    margin-top: 24px;
    margin-bottom: 118px;
  }
  &__bottom-line {
    width: 780px;
    height: 1px;
    background-color: #f4f4f4;
    margin-left: auto;
    margin-right: auto;
  }
  &__buttons {
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 800px;

  }
  &__social-link {
    width: 240px;
    height: 50px;
    border-radius: 5px;
  }
  &__github-link {
    display: block;
    background-color: #f3f3f3;
    font-family: Montserrat;
    color: rgba(0, 0, 0, 0.13);
    font-size: 21px;
    line-height: 50px;
    text-decoration: none;
  }
  &__twitter-link {
    display: block;
    background-color: #21a7d2;
    font-family: Montserrat;
    color: #ffffff;
    font-size: 21px;
    line-height: 50px;
    text-decoration: none;

  }
  &__facebook-link {
    display: block;
    background-color: #385899;
    font-family: Montserrat;
    color: #ffffff;
    font-size: 21px;
    line-height: 50px;
    text-decoration: none;

  }
  &__folowNumber {

    font-family: Montserrat;
    color: #848e97;
    font-size: 14px;
    line-height: 32px;
    text-align: center;
    margin-top: 11px;
    margin-bottom: 80px;
  }
}

.fa-github {
  width: 20px;
  height: 20px;
  color: #273f4c;
  margin-left: 25px;
  margin-right: 40px;
}
.fa-twitter {
  width: 19px;
  height: 15px;
  color:  #ffffff;
  margin-left: 25px;
  margin-right: 40px;
}
.fa-facebook-f {
  width: 8px;
  height: 16px;
  color:  #ffffff;
  margin-left: 25px;
  margin-right: 40px;
}

