.container {
  width: 1200px;
}
.footer {
  padding-top: 60px;

  &__list {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Montserrat';
    font-size: 14px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 59px;
  }
  &__logo {
    width: 301px;
  }
  &__logo-link {
    display: flex;
    margin-bottom: 24px;
  }
  &__logo-icon {
    margin-right: 18px;
  }
  &__logo-icon-text {
    color: #333333;
    font-size: 24px;
    line-height: 41px;
    vertical-align: bottom;
  }
  &__logo-icon-text-grey {
    color:  #8d81ac;
    font-size: 24px;
    line-height: 41px;
    vertical-align: bottom;
  }
  &__logo-description {
    color:  #848e97;
  }
  &__title {
    display: block;
    color:  #323232;
    font-size: 16px;
    margin-bottom: 23px;
  }
  &__nav {
    width: 122px;
    padding-left: 0;
  }
  &__nav-link {
    display: block;
    color:  #8d81ac;
    font-size: 15px;
    line-height: 23px;
    text-decoration: none;

  }
  &__nav-item {
    list-style-type: none;

  }
  &__contacts {
    width: 221px;
  }
  &__contacts-phone-number {
    display: block;
    color:  #3f3f3f;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 15px;
  }

  &__contacts-time {
    display: block;
    color:  #848e97;
    font-size: 12px;
    margin-bottom: 38px;
  }
  &__contacts-city {
    display: block;
    color:  #323232;
    font-size: 16px;
    margin-bottom: 20px;
  }
  &__contacts-address {
    display: block;
    color:  #848e97;
    font-size: 14px;
  }
  &__info {
    width: 304px;
    color:  #848e97;
  }
}

@media (max-width: 992px) and (min-width: 481px) {
  .footer {
    &__container {
      width: 1200px;
      margin-left: auto;
      margin-right: auto;
      padding: 0 10px;
      font-family: 'Montserrat';
      font-size: 14px;
      display: grid;
      grid-template-columns:  auto auto;
      grid-row-gap: 45px;
    }
    &__logo {
      width: 301px;
    }
    &__logo-icon {
      margin-right: 18px;
    }
    &__logo-icon-text {
      color: #333333;
      font-size: 24px;
      line-height: 41px;
      vertical-align: bottom;
    }
    &__logo-icon-text-grey {
      color:  #8d81ac;
      font-size: 24px;
      line-height: 41px;
      vertical-align: bottom;
    }
    &__logo-description {
      color:  #848e97;
    }
    &__title {
      display: block;
      color:  #323232;
      font-size: 16px;
      margin-bottom: 23px;
    }
    &__nav {
      width: 122px;
    }
    &__nav-link {
      display: block;
      color:  #8d81ac;
      font-size: 15px;
      line-height: 23px;
      text-decoration: none;
    }
    &__contacts {
      width: 221px;
    }
    &__contacts-phone {
      display: block;
      color:  #3f3f3f;
      font-size: 30px;
      font-weight: 700;
      margin-bottom: 15px;
    }
    &__contacts-time {
      display: block;
      color:  #848e97;
      font-size: 12px;
      margin-bottom: 38px;
    }
    &__contacts-city {
      display: block;
      color:  #323232;
      font-size: 16px;
      margin-bottom: 20px;
    }
    &__contacts-address {
      display: block;
      color:  #848e97;
      font-size: 14px;
    }
    &__info {
      width: 304px;
      color:  #848e97;
    }
  }

}


