.forkApp{
  height: 700px;
  background-image: url("./img/ForkAppImg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  &_container {
    max-width: 1200px;
    height: inherit;
    padding: 0 10px;
    margin: 0 auto;
    text-align: center;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto 1fr;
    justify-items: center;
    align-items: end;
  }
  &__title{
    color: #ffffff;
    font-size: 82px;
    line-height: 82px;
    font-weight: 700;
    font-family: Montserrat;
    margin-top: 50px;
  }
  &__slogan{
    font-family: Lato;
    color:  #8d81ac;
    font-size: 30px;
    line-height: 30px;
    font-weight: 400;
    margin-top: 18px;
  }
  &__version{
    font-family: Montserrat;
    color:  #848e97;
    font-size: 16px;
    line-height: 16px;
    font-weight: 400;
    text-transform: uppercase;
    margin-top: 18px;
  }
  &__button{
    width: 390px;
    height: 62px;
    font-family: Montserrat;
    color:  #ffffff;
    font-size: 21.01px;
    font-weight: 700;
    line-height: 62px;
    text-align: center;
    border: 1px solid #8e82ad;
    background-color: #8e82ad;
    border-radius: 50vw;
    box-sizing: border-box;
    position: relative;
    bottom: -31px;
    text-decoration: none;
  }
  &__button:hover{
    transition: all .4s;
    background-color: #ffffff;
    color: #8e82ad;
  }

}
@media (max-width: 992px) and (min-width: 481px) {
  .forkApp{
    height: 682px;
    background-size: auto;
    &_container {
    }
    &__title{
      font-size: 72px;
      line-height: 72px;
      margin-top: 40px;
    }
    &__slogan{
      margin-top: 26px;
      font-size: 24px;
      line-height: 24px;
    }
    &__version{
      margin-top: 26px;
      font-size: 14px;
      line-height: 14px;
    }
    &__button{}
    &__button:hover{}
  }
}
@media (max-width: 480px) and (min-width: 401px) {
  .forkApp{
    height: 730px;
    &_container {
    }
    &__title{
      font-size: 54.01px;
      line-height: 54.01px;
      margin-top: 96px;
    }
    &__slogan{
      margin-top: 35px;
      font-size: 20px;
      line-height: 25px;
    }
    &__version{
      margin-top: 20px;
      font-size: 16px;
      line-height: 16px;
    }
    &__button{
      width: calc(390px - 6vw);
    }
    &__button:hover{}
  }
}

@media (max-width: 400px) and (min-width: 320px) {
  .forkApp{
    height: 614px;
    &_container {
    }
    &__title{
      font-size: 47.99px;
      line-height: 47.99px;
      margin-top: 40px;
    }
    &__slogan{
      margin-top: 17px;
      font-size: 18.01px;
      line-height: 24.944px;
    }
    &__version{
      margin-top: 15px;
      font-size: 14px;
      line-height: 14px;
    }
    &__button{
      width: 290px;
      height: 45px;
      font-size: 18.01px;
      line-height: 45px;
      bottom: -22.5px;
    }
    &__button:hover{}
  }
}
@media (max-width: 319px) {
  .forkApp{
    height: 614px;
    &_container {
    }
    &__title{
      font-size: 47.99px;
      line-height: 47.99px;
      margin-top: 40px;
    }
    &__slogan{
      margin-top: 17px;
      font-size: 18.01px;
      line-height: 24.944px;
    }
    &__version{
      margin-top: 15px;
      font-size: 14px;
      line-height: 14px;
    }
    &__button{
      width: 290px;
      height: 45px;
      font-size: 18.01px;
      line-height: 45px;
      bottom: -22.5px;
    }
    &__button:hover{}
  }
}


