.header{
  height: 100px;
  background-color: #222125;
  &_container {
    max-width: 1200px;
    height: inherit;
    padding: 0 10px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-template-rows: 1fr;
    justify-items: end;
    align-items: center;
    }
        &-logo{
          display: grid;
          grid-template-rows: auto;
          grid-template-columns: auto auto;
          justify-items: center;
          align-items: center;
          &__icon{
          width: 43px;
          height: 41px;
          background-image: url("./img/LogoHeader.png");
          margin-right: 17px;
        }
        &__name{
          text-decoration: none;
          text-transform: uppercase;
          font-family: Lato;
          font-size: 24px;
          font-weight: 700;
          color:  #8d81ac;
        }
      }
      &-logo:hover{
        cursor: pointer;
      }
      &-logo:hover &-logo__icon{
          background-image: url("./img/LogoHeaderHover.png");
          transition: all .4s;
        }
      &-logo:hover &-logo__name{
          color: #ffffff;
          transition: all .4s;
      }
      &-menu{
        display: grid;
        grid-template-rows: auto;
        grid-template-columns: auto auto auto auto;
        column-gap: 48px;
        font-family: Montserrat;
        &__item{
          text-decoration: none;
          font-size: 16px;
          font-weight: 700;
          color:  #8d81ac;
        }
        &__item:hover{
          margin-top: -4px;
          color: #ffffff;
          transition: all .4s;
          transition: margin-top .2s;
        }
        &__item:first-of-type{
          display: none;
        }
        &__item:last-of-type{
          margin-right: 48px;
        }
      }
      &_button{
        width: 145px;
        height: 38px;
        background-color: #8e82ad;
        color: #ffffff;
        font-family: Montserrat;
        border: 1px solid #8d81ac;
        box-sizing: border-box;
        font-weight: 700;
        text-align: center;
        line-height: 38px;
        border-radius: 50vh;
        text-decoration: none;
      }
      &_button:hover{
        background-color: #ffffff;
        color: #8d81ac;
        transition: all .4s;
      }
      &-burger{
        display: none;
      }
}

@media (max-width: 992px) and (min-width: 481px) {
  .header {
    height: 118px;
    &_container {
      grid-template-columns: auto 1fr auto;
      grid-template-rows: 1fr 55px;
      justify-items: end;
      align-items: end;
    }
    &-logo {
      &__icon {}
      &__name {
      }
    }
    &-logo:hover &-logo__icon {}
    &-logo:hover &-logo__name {}
    &-menu {
      grid-column-start: 1;
      grid-column-end: 4;
      grid-row-start: 2;
      grid-row-end: 2;
      justify-self: center;
      align-self: center;
      column-gap: 4vw;
      &__item {}
      &__item:hover {}
      &__item:first-of-type {
      }
        &__item:last-of-type {
        margin-right: 0;
      }
    }
    &-button {}
    &-button:hover {}
    &-burger {}
  }
}
@media (max-width: 480px) and (min-width: 401px)   {
  .header {
    height: 103px;
    &_container {
      grid-template-columns: auto 1fr 26px;
      grid-template-rows: 1fr;
      justify-items: center;
      align-items: center;
    }
    &-logo {
      &__icon {}
      &__name {}
    }
    &-logo:hover &-logo__icon {}
    &-logo:hover &-logo__name {}
    &-menu {
      display: grid;
      grid-template-rows: auto auto auto auto auto;
      grid-template-columns: 100vw;
      align-items: center;
      column-gap: 0;
      position: absolute;
      top: 103px;
      background-color: #333333;
      height: 0;
      overflow: hidden;
      transition: height .4s linear;
        &__item {
        padding: 25px 0 25px 33px;
        line-height: 53px;
        font-size: 32px;
        font-weight: 400;
        color: #ffffff;
        font-family: Montserrat;
        border-bottom: 2px solid #3b3b3b;
        box-sizing: border-box;
      }
      &__item:hover{
        color: #877ca4;
      }
      &__item:hover:before{
        content: '';
        position: relative;
        right: 33px;
        border-left: 3px solid #877ca4;
      }
      &__item:first-of-type.active {
        display: inline;
      }
      &__item:last-of-type {
        margin: 0;
      }
    }
    &-menu.active {
      height: 525px;
    }
    &-button {
      width: 130px;
      height: 44px;
      line-height: 44px;
    }
    &-button:hover {}
    &-burger {
      display: grid;
      justify-items: end;
      width: 26px;
      height: 21px;
      &__line{
        height: 3px;
        width: 26px;
        border-radius: 50vw;
        background-color:  #ffffff;
        margin-top: 5px;
        transition: all 0.4s ease;
        transform-origin: 1.6px;
      }
      &__line:first-of-type{
        width: 20px;
      }
      &__line:nth-of-type(1).active {
        transform: rotate(45deg);
        width: 26px;
      }

      &__line:nth-of-type(2).active {
        opacity: 0;
      }

      &__line:nth-of-type(3).active {
        transform: rotate(-45deg);
      }
    }
    &-burger:hover {
    }

  }
}

@media (max-width: 400px)and (min-width: 320px)  {
  .header {
    height: 103px;
    &_container {
      grid-template-columns: auto 1fr 26px;
      grid-template-rows: 1fr;
      justify-items: center;
      align-items: center;
    }
    &-logo {
      &__icon {
        margin-right: 0;
      }
      &__name {
        display: none;
      }
    }
    &-logo:hover &-logo__icon {}
    &-logo:hover &-logo__name {}
    &-menu {
      display: grid;
      grid-template-rows: auto auto auto auto auto;
      grid-template-columns: 100vw;
      align-items: center;
      column-gap: 0;
      position: absolute;
      top: 103px;
      background-color: #333333;
      height: 0;
      overflow: hidden;
      transition: height .4s linear;
      &__item {
        padding: 25px 0 25px 33px;
        line-height: 53px;
        font-size: 32px;
        font-weight: 400;
        color: #ffffff;
        font-family: Montserrat;
        border-bottom: 2px solid #3b3b3b;
        box-sizing: border-box;
      }
      &__item:hover{
        color: #877ca4;
      }
      &__item:hover:before{
        content: '';
        position: relative;
        right: 33px;
        border-left: 3px solid #877ca4;
      }
      &__item:first-of-type.active {
        display: inline;
      }
      &__item:last-of-type {
        margin: 0;
      }
    }
    &-menu.active {
      height: 525px;
    }
    &-button {
      width: 119px;
      height: 37px;
      line-height: 37px;
    }
    &-button:hover {}
    &-burger {
      display: grid;
      justify-items: end;
      width: 26px;
      height: 21px;
      &__line{
        height: 3px;
        width: 26px;
        border-radius: 50vw;
        background-color:  #ffffff;
        margin-top: 5px;
        transition: all 0.4s ease;
        transform-origin: 1.6px;
      }
      &__line:first-of-type{
        width: 20px;
      }
      &__line:nth-of-type(1).active {
        transform: rotate(45deg);
        width: 26px;
      }

      &__line:nth-of-type(2).active {
        opacity: 0;
      }

      &__line:nth-of-type(3).active {
        transform: rotate(-45deg);
      }
    }
  }
}
@media (max-width: 319px) {
  .header {
    height: 103px;
    &_container {
      grid-template-columns: auto 1fr 26px;
      grid-template-rows: 1fr;
      justify-items: center;
      align-items: center;
    }
    &-logo {
      &__icon {
        margin-right: 0;
      }
      &__name {
        display: none;
      }
    }
    &-logo:hover &-logo__icon {}
    &-logo:hover &-logo__name {}
    &-menu {
      display: grid;
      grid-template-rows: auto auto auto auto auto;
      grid-template-columns: 100vw;
      align-items: center;
      column-gap: 0;
      position: absolute;
      top: 103px;
      background-color: #333333;
      height: 0;
      overflow: hidden;
      transition: height .4s linear;
      &__item {
        padding: 25px 0 25px 33px;
        line-height: 53px;
        font-size: 32px;
        font-weight: 400;
        color: #ffffff;
        font-family: Montserrat;
        border-bottom: 2px solid #3b3b3b;
        box-sizing: border-box;
      }
      &__item:hover{
        color: #877ca4;
      }
      &__item:hover:before{
        content: '';
        position: relative;
        right: 33px;
        border-left: 3px solid #877ca4;
      }
      &__item:first-of-type.active {
        display: inline;
      }
      &__item:last-of-type {
        margin: 0;
      }
    }
    &-menu.active {
      height: 525px;
    }
    &-button {
      width: 119px;
      height: 37px;
      line-height: 37px;
    }
    &-button:hover {}
    &-burger {
      display: grid;
      justify-items: end;
      width: 26px;
      height: 21px;
      &__line{
        height: 3px;
        width: 26px;
        border-radius: 50vw;
        background-color:  #ffffff;
        margin-top: 5px;
        transition: all 0.4s ease;
        transform-origin: 1.6px;
      }
      &__line:first-of-type{
        width: 20px;
      }
      &__line:nth-of-type(1).active {
        transform: rotate(45deg);
        width: 26px;
      }

      &__line:nth-of-type(2).active {
        opacity: 0;
      }

      &__line:nth-of-type(3).active {
        transform: rotate(-45deg);
      }
    }
  }
}

