.prices{
  height: 852px ;
  background-color: #4b3b4e;
  background-image: url("./img/pricesBack.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  &_container{
    max-width: 1200px;
    height: inherit;
    padding: 0 10px;
    margin: 0 auto;
    text-align: center;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
    justify-items: center;
    align-items: center;
  }
  &__title{
    color: #ffffff;
    font-family: Montserrat;
    font-size: 48px;
    font-weight: 700;
    line-height: 48px;
  }
  &-offers{
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: 1fr;
    justify-items: center;
    align-items: center;
    column-gap: 10px;
    &-item{
      width: 257px;
      height: 457px;
      background-color: rgba(255, 255, 255, .11);
      color: #ffffff;
      text-align: center;
      display: grid;
      &_large{
        width: 290px;
        height: 560px;
        background-color: rgba(000, 000, 000, .06);
        text-align: center;
        display: grid;
        color: #ffffff;
        &__title{
          height: 111px;
          line-height: 111px;
          background-color: rgba(000, 000, 000, .11);
          font-family: Montserrat;
          font-size: 24px;
          font-weight: 400;
          text-transform: uppercase;
        }
        &__price{
          font-family: Montserrat;
          font-size: 82px;
          font-weight: 700;
          text-transform: uppercase;
        }
      }
      &__title{
        font-family: Montserrat;
        font-size: 24px;
        font-weight: 400;
        text-transform: uppercase;
        line-height: 97px;
        height: 97px;
        background-color: rgba(255, 255, 255, .06);
      }
      &__price{
        font-family: Montserrat;
        font-size: 60px;
        font-weight: 700;
        text-transform: uppercase;
      }
      &__term{
        opacity: 0.3;
        color: #ffffff;
        font-family: Montserrat;
        font-size: 14px;
        font-weight: 400;
        text-transform: uppercase;
      }
      &__line{
        width: 60px;
        height: 5px;
        background-color: #8d81ac;
        margin: 0 auto;
      }
      &__info{
        font-family: Montserrat;
        font-size: 16px;
        font-weight: 400;
        line-height: 28px;
        height: 56px;
        width: 90%;
        margin: 0 auto;
      }
      &__button{
        margin: 0 auto;
        width: 160px;
        height: 42px;
        background-color: rgba(255, 255, 255, .15);
        font-family: Montserrat;
        font-size: 15px;
        font-weight: 400;
        line-height: 42px;
        text-align: center;
        border-radius: 50vw;
        text-transform: uppercase;
      }
      &__button:hover{
        background-color: rgba(255, 255, 255, .7);
        color: #7f6d78;
        cursor: pointer;
        transition: all .4s;
      }
    }
  }
}
@media (max-width: 992px) and (min-width: 640px) {
  .prices{
    height: 1311px;
    &_container{

    }
    &__title{
      font-size: 42px;
      line-height: 60px;
    }
    &-offers{
      grid-template-columns: auto auto;
      grid-template-rows: 1fr 1fr;
      column-gap: 3vw;
      &-item{

        &_large{

          &__title{

          }
          &__price{

          }
        }
        &__title{

        }
        &__price {
        }
        &__term{

        }
        &__line{

        }
        &__info{

        }
        &__button{

        }
        &__button:hover{

        }
      }
    }
  }
}
@media (max-width: 639px) and (min-width: 481px) {
  .prices{
    height: 2290px;
    &_container{

    }
    &__title{
      font-size: 42px;
      line-height: 60px;
    }
    &-offers{
      grid-template-columns: 1fr;
      grid-template-rows: auto auto auto auto;
      column-gap: 0;
      row-gap: 20px;
      &-item{

        &_large{

          &__title{

          }
          &__price{

          }
        }
        &__title{

        }
        &__price {
        }
        &__term{

        }
        &__line{

        }
        &__info{

        }
        &__button{

        }
        &__button:hover{

        }
      }
    }
  }
}

@media (max-width: 480px) and (min-width: 401px) {
  .prices{
    height: 2290px;
    &_container{

    }
    &__title{
      font-size: 42px;
      line-height: 60px;
    }
    &-offers{
      grid-template-columns: 1fr;
      grid-template-rows: auto auto auto auto;
      column-gap: 0;
      row-gap: 20px;
      &-item{

        &_large{

          &__title{

          }
          &__price{

          }
        }
        &__title{

        }
        &__price {
        }
        &__term{

        }
        &__line{

        }
        &__info{

        }
        &__button{

        }
        &__button:hover{

        }
      }
    }
  }
}
@media (max-width: 400px) and (min-width: 320px) {
  .prices{
    height: 2262px;
    &_container{

    }
    &__title{
      font-size: 28px;
      line-height: 42px;
    }
    &-offers{
      grid-template-columns: 1fr;
      grid-template-rows: auto auto auto auto;
      column-gap: 0;
      row-gap: 20px;
      &-item{

        &_large{

          &__title{

          }
          &__price{

          }
        }
        &__title{

        }
        &__price {
        }
        &__term{

        }
        &__line{

        }
        &__info{

        }
        &__button{

        }
        &__button:hover{

        }
      }
    }
  }
}
@media (max-width: 319px) {
  .prices{
    height: 2262px;
    &_container{

    }
    &__title{
      font-size: 28px;
      line-height: 42px;
    }
    &-offers{
      grid-template-columns: 1fr;
      grid-template-rows: auto auto auto auto;
      column-gap: 0;
      row-gap: 20px;
      &-item{

        &_large{

          &__title{

          }
          &__price{

          }
        }
        &__title{

        }
        &__price {
        }
        &__term{

        }
        &__line{

        }
        &__info{

        }
        &__button{

        }
        &__button:hover{

        }
      }
    }
  }
}