.revolEdit{
  height: 391px;
  background-color: #ffffff;
  &_container{
    max-width: 1200px;
    height: inherit;
    padding: 0 10px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto 1fr;
    justify-items: center;
    align-items: end;
    text-align: center;
  }
  &__trialPeriod{
    font-family: Montserrat;
    color:  #848e97;
    font-size: 14px;
    line-height: 14px;
    font-weight: 400;
    margin-top: 48px;
  }
  &__title{
    font-family: Montserrat;
    color:  #635c73;
    font-size: 54.01px;
    line-height: 54.01px;
    font-weight: 700;
    margin-top: 60px;
    text-transform: uppercase;
  }
  &__description{
    width: 965px;
    font-family: Lato;
    color:  #323232;
    color: rgba(0, 0, 0, 0.5);
    font-size: 21.01px;
    font-weight: 500;
    line-height: 26px;
    margin-top: 30px;
    margin-bottom: 10px;
    }
    .revolEdit-buttonContainer {
      display: grid;
      grid-template-columns: auto auto auto auto auto auto;
      grid-template-rows: 1fr;
      margin-bottom: 70px;
      &__button{
        display: grid;
        justify-items: center;
        align-items: center;
        grid-template-columns: auto auto auto;
        grid-template-rows: auto;
        color: #24292e;
        text-decoration: none;
        padding: 3px 10px;
        font-size: 12px;
        background-color: #eff3f6;
        background-image: linear-gradient(-180deg,#fafbfc,#eff3f6 90%);
        font-weight: 600;
        white-space: nowrap;
        border: 1px solid rgba(27,31,35,0.2);
        border-radius: 0.25em;
        box-sizing: border-box;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }
      &__button:hover{
        background-color: #e6ebf1;
        background-image: linear-gradient(-180deg,#f0f3f6,#e6ebf1 90%);
        border-color: rgba(27,31,35,0.35);
      }
      &__buttonCount{
        text-decoration: none;
        padding: 3px 10px;
        font-size: 12px;
        font-weight: 600;
        line-height: 20px;
        color: #24292e;
        background-color: #fff;
        border: 1px solid rgba(27,31,35,0.2);
        border-left: 0;
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
        margin-right: 10px;
      }
      &__buttonCount:hover{
        color: #0366d6;
      }
    }
  }
  @media (max-width: 992px) and (min-width: 481px) {
    .revolEdit{
      height: 437px;
      &_container{}
      &__trialPeriod{}
      &__title{
        font-size: 42px;
        line-height: 42px;
        margin-top: 85px;
      }
      &__description{
        width: 88vw;
        margin-bottom: 10px;
      }
      .revolEdit-buttonContainer {
        margin-bottom: 98px;
        &__button{}
        &__button:hover{}
        &__buttonCount{}
        &__buttonCount:hover{}
      }
    }
  }
  @media (max-width: 480px) and (min-width: 401px) {
    .revolEdit{
      height: 476px;
      &_container{}
      &__trialPeriod{}
      &__title{
        font-size: 42px;
        line-height: 49px;
        margin-top: 65px;
      }
      &__description{
        margin-top: 38px;
        width: unset;
        font-size: 16px;
        line-height: 26px;
        font-weight: 600;
        margin-bottom: 30px;
      }
    .revolEdit-buttonContainer {
      margin-bottom: 78px;
      &__button{}
      &__button:hover{}
      &__buttonCount{}
      &__buttonCount:hover{}
    }
  }
}
@media (max-width: 400px) and (min-width: 320px) {
  .revolEdit{
    height: 472px;
    &_container{}
    &__trialPeriod{
      margin-top: 35px;
    }
    &__title{
      width: 236px;
      font-size: 25.99px;
      line-height: 40px;
      margin-top: 65px;
    }
    &__description{
      margin-top: 10px;
      width: 265px;
      font-size: 14px;
      line-height: 20px;
      font-weight: 700;
      margin-bottom: 35px;
    }
    .revolEdit-buttonContainer {
      display: grid;
      grid-template-columns: auto auto auto auto;
      grid-template-rows: 1fr;
      margin-bottom: 88px;
      row-gap: 20px;
      &__button{}
      &__button:nth-of-type(5){
        grid-column-start: 2;
        grid-column-end: 3;
      }
      &__button:hover{}
      &__buttonCount{}
      &__buttonCount:nth-of-type(6){
        grid-column-start: 3;
        grid-column-end: 4;
      }
      &__buttonCount:hover{}
    }
  }
}
@media (max-width: 319px) {
  .revolEdit{
    height: 472px;
    &_container{}
    &__trialPeriod{
      margin-top: 35px;
    }
    &__title{
      width: 236px;
      font-size: 25.99px;
      line-height: 40px;
      margin-top: 65px;
    }
    &__description{
      margin-top: 10px;
      width: 265px;
      font-size: 14px;
      line-height: 20px;
      font-weight: 700;
      margin-bottom: 35px;
    }
    .revolEdit-buttonContainer {
      display: grid;
      grid-template-columns: auto auto auto auto;
      grid-template-rows: 1fr;
      margin-bottom: 88px;
      row-gap: 20px;
      &__button{}
      &__button:nth-of-type(5){
        grid-column-start: 2;
        grid-column-end: 3;
      }
      &__button:hover{}
      &__buttonCount{}
      &__buttonCount:nth-of-type(6){
        grid-column-start: 3;
        grid-column-end: 4;
      }
      &__buttonCount:hover{}
    }
  }
}