.container {
  width: 1200px;
}
.subscribe{
  background-color:  #f4f4f4;
  width: 100%;
  height: 134px;
  padding-top: 90px;

  &__order-callback{
    width: 1200px;
    margin-right: auto;
    margin-left: auto;
    display: grid;
    grid-template-columns:  351px auto;
  }
  &__order-callback-title {
    font-family: Montserrat;
    color:  #635c73;
    font-size: 30px;
    font-weight: 700;
    line-height: 42px;
    margin-top: 0;
    margin-right: 120px;
    display: block;
  }
  &__form {
    width: 849px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  &__order-callback-name, &__order-callback-phone {
    display: block;
    border-radius: 21px;
    border: none;
    background-color:  #ffffff;
    width: 309px;
    height: 42px;
    font-family: Montserrat;
    color:  #c8cbcf;
    font-size: 14px;
    line-height: 17px;
    padding-left: 26px;

  }
  &__order-callback-button{
    display: block;
    border-radius: 21px;
    background-color:  #8d81ac;
    width: 140px;
    height: 42px;
    font-family: Montserrat;
    color:  #ffffff;
    font-size: 13px;
    line-height: 42px;
    text-align: center;
  }
}