body{
  font-family: sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
  height: 100vh;
  min-width: 320px;
}
h1, h2, h3, h4, p{
  margin: 0;
  padding: 0;
}


@import "header";
@import "forkApp";
@import "revolEditor";
@import "advantages";
@import "carousel";
@import "aboutFork";
@import "prices";
@import "subscribe";
@import "footer";

